.carrousel {
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 25%;
    transform: scale(0);
    transition: transform 0.5s;
    background-color: limegreen;
  }
  
  .carrousel--ouvrir {
    transform: scale(1);
  }
  
  .carrousel__figure{
    overflow: hidden;
  }
  .carrousel__x{
    position: absolute;
    top: 0%;
    right: 0%;
    z-index: 3;
  }
  .carrousel__img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .carrousel__img--activer{
    opacity: 1;
  }
  .carrousel__form{
    position: absolute;
    bottom: 0%;
    text-align: center;
    width: 100%;
  }
  
  .carrousel__rad{
    display: inline-block;
  
    margin: 5px;
  }

  .carrousel__fleche_droite{
    color: chartreuse;
    background-color: purple;
    position: absolute;
    top: 50%;
    right: 0%;
    z-index: 3;
  }
  .carrousel__fleche_gauche{
    color: chartreuse;
    background-color: purple;
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 3;
  }